<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% block title %}{% endblock %}</title>
<link href="{{ MEDIA_URL }}css/style.css" type="text/css"
	rel="stylesheet">
{% block media %} {% endblock %}
</head>

<body>
<!--  Top bar -->
<div id="topBar"></div>

<!--  Main container -->
<div id="mainContainer">

    <span id="siteName">
        <a href="{% url home %}">{{ SITE_NAME }}</a>
    </span>    
    
    <div id="content">    
        {% block content %}{% endblock %}
    </div>    

    <!-- Footer -->
    <div id="footer">
        <span id="leftFooter">Powered by Django/Python</span>
        <span id="rightFooter">&copy; 2010 James Selvakumar</span>      
    </div>

</div>

</body>
</html>